#Temp files
*~

# workspace files are user-specific
*.sublime-workspace
*.idea
.DS_Store

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# Devstack ignores the subproject repositories, except for a placeholder file:
opendsa/*
!opendsa/devstackPlaceholder.md
opendsa-lti/*
!opendsa-lti/devstackPlaceholder.md
openpop/*
!openpop/devstackPlaceholder.md
code-workout/*
!code-workout/devstackPlaceholder.md

