[submodule "opendsa"]
	path = opendsa
	url = https://github.com/OpenDSA/OpenDSA.git
[submodule "opendsa-lti"]
	path = opendsa-lti
	url = https://github.com/OpenDSA/OpenDSA-LTI.git
[submodule "code-workout"]
	path = code-workout
	url = https://github.com/web-cat/code-workout.git
	branch = staging
