#Temp files
*~

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
.vagrant
/OpenDSA-server
/OpenDSA-LTI
/OpenDSA
/code-workout

# workspace files are user-specific
*.sublime-workspace
*.idea

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project
ubuntu-bionic-18.04-cloudimg-console.log
